* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356dc;
  --secondary-color: #ff79da;
  ---third-color: #99e2d0;
}

.main-container {
  width: 100%;
  max-width: 767.98px;
  padding: 0 50px;
  box-sizing: border-box;
}

.title {
  font-family: "Shrikhand", cursive;
}

header {
  display: flex;
  justify-content: center;
}

/***** section 1 exploration ****/
.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  text-align: center;
}
.exploration__location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0px;
  font-size: 16px;
}
.exploration__location .fa-location-dot {
  padding: 0px 10px;
}
.exploration__title {
  font-weight: 700;
  font-size: 24px;
  padding: 15px;
}
.exploration__content {
  padding: 15px;
  font-size: 18px;
  font-weight: 300;
}
.exploration__link {
  margin: 20px 0px;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 39px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 1px 5px 10px grey;
  transition-duration: 1s;
  background: linear-gradient(to top, var(--main-color), var(--secondary-color));
  color: white;
}
.exploration__link:hover {
  opacity: 0.8;
  box-shadow: none;
}

/******* section 2 fonctionnement *******/
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 50px;
}
.fonctionnement div {
  padding: 15px 0px;
  font-weight: 700;
  font-size: 24px;
}
.fonctionnement a {
  display: flex;
  align-items: center;
  padding: 25px 0px;
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 1px 5px 10px grey;
  border-radius: 20px;
  background-color: #F6F6F6;
}
.fonctionnement a span {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #9356dc;
  color: white;
  font-size: 15px;
  position: relative;
  right: 10px;
  padding: 0px;
}

.fa-grey {
  color: grey;
}

.fa-margin {
  margin: 0px 10px;
}

.fa-store {
  color: var(--main-color);
}

/******** section 3 restaurant ******/
.liste {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}
.liste__restaurant {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 30px;
  font-weight: 700;
  font-size: 24px;
}

.card__flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.restaurant {
  width: 90%;
  min-width: 200px;
  height: 400px;
  margin-bottom: 25px;
}
.restaurant img {
  width: 100%;
  height: 300px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.restaurant__content {
  display: flex;
  justify-content: space-between;
  color: black;
}
.restaurant__content div {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.restaurant__content div h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0px;
  margin-top: 10px;
}
.restaurant__content div p {
  margin: 0px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 17px;
}
.restaurant__content--heart {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 50px;
  background-color: linear-gradient(to top, var(--main-color), var(--secondary-color));
}

a {
  text-decoration: none;
}

.fa-heart {
  font-size: 30px;
  color: #99e2d0;
}

.temporaire {
  display: flex;
}

/******** footer *******/
footer {
  display: flex;
  flex-direction: column;
  color: white;
  background: #353535;
  padding-bottom: 20px;
}
footer span {
  padding: 20px 15px;
  font-size: 18px;
}
footer div {
  display: flex;
  flex-direction: column;
}
footer div span {
  padding: 5px 15px;
  font-size: 16px;
}
footer .fa-margin-footer {
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
